body {
    margin: 0;
    padding: 0;
    font-family: "League Spartan", system-ui, sans-serif;
    font-size: 1.1rem;
    line-height: 1.2;
    color: #d6dfed;

    
    background-color: #1e1e1e;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    margin-top: 200px;
}