@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

main {
    margin: 0;
    padding: 0;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 1.1rem;
    line-height: 1.2;
    color: #d6dfed;
    
    background-color: #1e1e1e;
    display: grid;
    place-items: center;
    box-sizing: border-box;
    /* margin-top: 200px; */
}

footer {
    overflow-x: hidden;
}

#root {
    width: 100%;
    scroll-behavior: smooth;
    font-family: "League Spartan", system-ui, sans-serif;
}