.accueil {
    background: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url('./background2.jpg');
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
    overflow-x: hidden;

    position: relative;
    z-index: 1;
}

.navbar {
    display: flex;
    padding: 50px;
    padding-top: 75px;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    height: 50px;
    margin-bottom: 50px;
}

.navbar_logo {
    height: 300px;
    margin-top: 200px;
}

.img_queries {
    display: none;
}

.navbar_ul li {
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
}

.navbar_ul li a {
    text-decoration: none;
    color: #d6dfed;
    font-size: 24px;
}

.navbar_ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: white;
    position: absolute;
    left: 0;
    bottom: -7.5px;
    transition: 0.5s;
}

.navbar_ul li:hover:after {
    width: 100%;
}

#burger {
    display: none;
}

.navbar .burger {
    display: none;
}

.section {
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    /* min-height: 100vh; */
    position: relative;
    top: 250px;
    overflow-y: hidden;
}

.section .h1_navbar {
    transform: translateX(-100%);
}

.section .p_navbar {
    transform: translateX(-100%);
}

.h1_navbar {
    font-size: 90px;
    color: #FFF;
}

.p_navbar {
    font-size: 35px;
    color: #0ef;
    font-weight: 600;
}